{% extends "base.html" %}

{% block title %}
<title>Homepage</title>
{% endblock %}

{% block content %}
    <div id = "main">

        <table id = "tb">
            <h1 id = "th1">send us a message  </h1>
            <tr> <td> <input id = "tt" type = "name" placeholder = "Full Name"> </td></tr>
            <tr> <td> <input id = "tt" type = "email" placeholder = "E-mail"> </td></tr>
            <tr> <td> <input id = "tt" type = "name" placeholder = "phone"> </td></tr>
            <tr> <td> <input id = "ttt"  type = "name" placeholder = "Your Message"> </td></tr>
            <tr> <th> <input id = "su" type = "submit" value = "Send">  </th></tr>

        </table>
    </div>
{% endblock %}

